extends layout

block content
    - var herokuServiceUrl = "https://scottmo-fcc-xsurl.herokuapp.com";

    div(class="container-fluid")
        h2(class="header") API Basejump: URL Shortener Microservice
        p By Shaocong (Scott) Mo
        blockquote
            p User stories:
            ul
                li I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
                li If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.
                li When I visit that shortened URL, it will redirect me to my original link.

        h2 Example Usage
        h3 Create shortened url
        code #{herokuServiceUrl}/new/https://www.google.com
        p will return the following information
        code.
            {
                "id":"12345",
                "url":"https://www.google.com"
            }

        h3 Using shortened url
        code #{herokuServiceUrl}/12345
        p will redirect to:
        code https://www.google.com/
